body {
    font-family: 'Odibee Sans', cursive;
}


/* navbar */

.navbarimage {
    width: 90px;
    height: 70px;
}


/* imagen formulario */

.formularioimg {
    width: 400px;
}

@media screen and (max-width: 600px) {
    .formularioimg {
        width: 250px;
    }
}


/* fondo de la pagina */

.formulario_superheroe {
    height: 600px;
    background-image: url(../img/fondocomic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* contenedores de informacion superhero */

.superheroinfo {
    background: #000;
}

.encontrado {
    font-size: 30px;
}

.imagen_desplegable {
    background-image: url(../img/Captura.JPG);
    height: 600px;
    overflow-y: auto;
}

.imagendata {
    height: 250px;
    width: 50%;
    margin-left: 25%;
}

@media screen and (max-width: 600px) {
    .imagendata {
        height: 250px;
        width: 100%;
        margin-left: 0%
    }
}


/* canvas chart */

#chartContainer {
    height: 370px;
    width: 100%;
}


/* footer */

footer,
nav {
    background: black;
}

.imagenfooter {
    height: 60px;
}